# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
# dist 
# except the entry file, index.html, the whole dist/ is added  
# dist/4.9_meet-app-icons
# dist/assets
# dist/google8b579a04440eb11c.html
# dist/manifest.webmanifest
# dist/registerSW.js
# dist/service-worker.js
# dist/vite.svg
# dist/workbox-020e1147.js
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

\package-lock.json
\coverage